.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

#pebbles-testimonial{
  border-radius: 50%;
}

img {
  max-width: 100%;
  height: auto;
}

#custom-p{
  color: black;
}

h1 {
  font-family: 'More Sugar', sans-serif;
}

@font-face {
  font-family: "More Sugar";
  src: url("https://db.onlinewebfonts.com/t/0c2f66b3377085de6cb3df0ab6c0b333.eot");
  src: url("https://db.onlinewebfonts.com/t/0c2f66b3377085de6cb3df0ab6c0b333.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/0c2f66b3377085de6cb3df0ab6c0b333.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/0c2f66b3377085de6cb3df0ab6c0b333.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/0c2f66b3377085de6cb3df0ab6c0b333.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/0c2f66b3377085de6cb3df0ab6c0b333.svg#More Sugar")format("svg");
}